@font-face {
    font-family: 'Gotham-Book';
    src: url(/resource/GothamBookRegular);
}
.THIS .slds-form-element__label {
    
    display: inline-block;
    color: rgb(105, 105, 105);
    font-size: 0.875rem;
    line-height: 1.375;
    margin-right: 0.75rem;
    margin-bottom: 0.25rem;
    text-align: left;
}

.THIS .requiredField {
    color: red;
    font-weight: bold;
}

.THIS .formbox {

    width:70%;
    text-align: left;
}

.THIS .toggleDisplay {
    display: none;
}

.THIS .slds-col{
    padding:2%;
    width:50%;
}

.THIS .customRequired{
 font-weight: 400; } .THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; } 

 .THIS .none{
 display:none; 
}

.THIS .customButtonCls{
    float:right;
    margin-top:-50px;
    color:#FFFFFF;
}