.THIS .slds-inputselect{
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}
.THIS .slds-col{
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}
.THIS .country{
    display:none;
}
.THIS .boxmargin{
    margin-top : 15px;
}
.THIS .uiLabel{
    
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-top: .25rem;
    padding-left: 5px;
}

.THIS .slds-form-element__label {
    
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-top: .25rem;
}
.THIS .myCheckbox{
    display: inline-block;
    float: left;
}

.THIS .upperCaseInput{
    text-transform: uppercase;
}

.THIS select.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS input.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}
.THIS .radiobuttonClass{
    display: inline-block;
    float: left;
}
.THIS .searchresults{
    border: 1px solid rgb(208, 208, 208);
    padding: .5rem;
    margin-top: 10px;
    border-radius: .25rem;
}
.THIS .slds-is-open{
    display:block;
}
.THIS .slds-is-close{
    display:none !important;
}
.THIS .slds-listbox__item{
    cursor:pointer;
}

.THIS .slds-input[disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS input.uiInput--checkbox[type=checkbox][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS input[type=checkbox][disabled]:checked {
    background-color: rgb(21, 137, 238) !important;
}

.THIS .slds-input[type=checkbox][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .slds-input[type=textarea][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--textarea.textarea[disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--checkbox input[type=checkbox][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--select.select[disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--input.input[disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}