.THIS .triggerDownArrow {
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    margin-left: 4px;
    margin-bottom: 3px;
    vertical-align: middle;
    color:black;
    margin-left:8px;
    cursor:pointer;
}
.THIS .profileName{
    color: black;
    margin-left: 10px;
}
.THIS .logOut{
     display: inline;
    margin-left: 20px;
}   
.THIS .trigger-link{
     display: inline;
   
}
.THIS .uiMenuItem a{
    display: block;
    line-height: 2.1em !important;
    width: 120px;
    height: inherit  !important;
}
.THIS .Icon {
    display: inline-block;
    border-radius: 1.25rem;
    background-color: grey;
}