.THIS .sectionTitleNote {   
    color: black;
    float:left;
}

.THIS .dashboard_icon{ 
    fill:#54698d !important;
    width:15px;
}

.THIS .slds-col{
    padding:0.5%;
    width:60%;
}

.THIS .slds-media__body{
    text-align:left;
}

.THIS .slds-card__body{
    height: 510px;
    overflow-y: auto;
    display: block;
}

.THIS .headerButtons{
    float: right;
    margin-right: 10px;
}

.THIS .slds-form-element__legend {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.THIS .spinnerWrapper {
	display:none;
}

.THIS.toggle {
    display: none;
}

.THIS .labelclass{
	line-height:2.0;
	font-weight: bold;
}

.THIS .uiLabel{ 
    color: #000000;
    font-size: 15px;
    margin-top: .25rem;
   
}

.THIS .slds-form-element__label {
    
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    margin-top: .25rem;
}

.THIS .requiredField {    
    color: red;
    font-weight: bold;
}

.THIS .customErrorMsg {
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS .form-element__help {
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS select.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS input.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS .radiobuttonClass{
    display: none;
}
.THIS .slds-card__body{
    text-align: left !important;
}

/* Header Style */

.THIS .result-cards {
    display:inline-flex;
}

.THIS .slds-has-dividers--around-space>.slds-item{
    height: 65px;
}    

.THIS .slds-has-dividers--around-space>.slds-item+.slds-item {
    margin-top: 0;
    margin-left: 20px;
}

.THIS .slds-has-dividers--around-space>.slds-item label{
    float: left;
}    

.THIS .slds-has-dividers--around-space> .query-log{
    width: 250px;
}

.THIS .slds-tree {
    min-width: 7.5rem;
    max-width: 25rem;
    margin-top: 315px!important; 
}

.THIS .navigation {
    min-width: 7.5rem;
    max-width: 25rem;
    margin-top: 315px!important; 
}

.THIS .slds-tabs--scoped__content{
    padding:0.2rem;
}

.THIS .tabCol {
    width: 10%;
}

.THIS .tabColSort {
    cursor: pointer;
}

.THIS .gridRowActionIcon {
    height: 32px;
}

.THIS .toggleDisplay {
    display: none;
}

.THIS .searchBox {
    width:254px;
    vertical-align: middle;
}

.THIS .slds-page-header{    
    height: 80px;
    
}
.THIS .slds-input[disabled]{
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}
.THIS .fa-disabled {
    
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}
.THIS.slds-card{
    border-width:0px !important;
}
.THIS .slds-card{
    margin-top: -44px !important;
}
.THIS .slds-table thead th{
	background-color: #003577;
}
.THIS .uiInput--select  {
    min-height: calc(2.125rem + 2px);
}