.THIS .tableheader{
    color:#fff;
    white-space: normal;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}

.THIS .sectionTitleNote {   
    color: black;
    float:left;
}

.THIS .dashboard_icon{ 
    fill:#54698d !important;
    width:15px;
}

.THIS .slds-col{
    padding:0.5%;
    width:60%;
}

.THIS .slds-media__body{
    text-align:left;
}

.THIS .headerButtons{
    float:right;
}

.THIS .slds-form-element__legend {
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.THIS .spinnerWrapper {
    display:none;
}

.THIS.toggle {
    display: none;
}

.THIS .labelclass{
    line-height:2.0;
    font-weight: bold;
}

.THIS .uiLabel{ 
    color: #000000;
    white-space: normal;
    font-size: 12px;
    text-align: center;
}

.THIS .slds-form-element__label {
    color: #000000;
    white-space: normal;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.THIS .requiredField {    
    color: red;
    font-weight: bold;
}

.THIS .customErrorMsg {
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS .form-element__help {
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS select.has-error {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS input.has-error {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS .radiobuttonClass{
    display: none;
}

.THIS .slds-card__body{
    text-align: left !important;
}

/* Header Style */

.THIS .result-cards {
    display:inline-flex;
}

.THIS .slds-has-dividers--around-space>.slds-item{
    height: 65px;
}    

.THIS .slds-has-dividers--around-space>.slds-item+.slds-item {
    margin-top: 0;
    margin-left: 20px;
}

.THIS .slds-has-dividers--around-space>.slds-item label{
    float: left;
}    

.THIS .slds-has-dividers--around-space> .query-log{
    width: 250px;
}

.THIS .slds-tree {
    min-width: 7.5rem;
    max-width: 25rem;
    margin-top: 315px!important; 
}

.THIS .navigation {
    min-width: 7.5rem;
    max-width: 25rem;
    margin-top: 315px!important; 
}

.THIS .slds-tabs--scoped__content{
    padding:0.2rem;
    border:0px !important;
}

.THIS .slds-tabs_scoped__content, .THIS .slds-tabs--scoped__content {
    background-color:#ffffff !important;
}

.THIS .tabCol {
    width: 10%;
    white-space: normal;
    font-size: 12px;
    text-align: left;
    color: #000000;
}

.THIS .editAction{
    cursor: pointer;
}

.THIS .ActionCol{
    width: 5%;
}

.THIS .primaryContactCol{
    width: 7%;
}

.THIS .tabColSort {
    cursor: pointer;
}

.THIS .gridRowActionIcon {
    height: 32px;
}

.THIS .toggleDisplay {
    display: none;
}

.THIS .searchBox {
    width:254px;
    vertical-align: middle;
}

.THIS .slds-page-header{    
    height: 80px;
    border: 0px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
    margin-bottom:10px;
}

.THIS .slds-grid {
    border: 0px !important;
}

.THIS.slds-card{
    border-width:0px !important;
}

.THIS tbody tr:nth-child(odd) {background: #FFFFFF !important}
.THIS tbody tr:nth-child(even) {background: #F3F3F3 !important}
.THIS .fa-disabled {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
}

.THIS .tabCol .slds-truncate{
    white-space : normal;
}

.THIS .slds-table th[scope="row"],  .THIS .slds-table td[role="gridcell"] {
    font-size: 12px;
}

.THIS input.uiInput--checkbox[type=checkbox][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS input[type=checkbox][disabled]:checked {
    background-color: rgb(21, 137, 238) !important;
}

.THIS .slds-input[type=checkbox][disabled]{
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .slds-input[type=textarea][disabled]{
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--textarea.textarea[disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .uiInput--checkbox input[type=checkbox][disabled] {
    background-color: #F3F3F3 !important;
    border-color: rgb(208, 208, 208) !important;
}

.THIS .slds-table thead th{
	background-color: #003577;
}

.THIS .slds-button{
    font-size: .875rem;
}

.THIS .selectCol {
    width: 7%;
}