.THIS .maindiv{
    width: 100%;
    margin: 0 auto;    
}

.THIS h1 {
    margin: 20px 0;
    font-size:18px;
    text-align: center;
    color:#000;
}

.THIS .requiredField{
    color:red;
}

.THIS.toggle {
    display: none !important;
}