.THIS {
}
.THIS.slds-modal__container {
    margin: 0 auto;
    width: 50%;
    height: 109%;
    max-width: 51rem;
    max-height: 80rem;
    min-width: 20rem;
     background-color: white;
}
.THIS .slds-align-bottom {
	margin-right: -21px;
    padding-bottom: 60px;
}
.THIS .slds-text-heading-label{
	color: black;
}