@font-face {
    font-family: 'Gotham-Book';
    src: url(/taxilicence/resource/GothamBookRegular);
}

.THIS {
    
    font-family: 'Gotham-Book' !important;
}

.THIS .headertext{
    font-size: 30px;
    color: black;
}
.THIS .innertext{
        color: black;
}