.THIS .slds-icon {
    
    fill: #fff;
    background-color: #50e3c2;
}

.THIS .sectionTitleNote {
	
	color: #000000;
}

.THIS .slds-icon-utility-company {
    
	background-color: rgb(160, 148, 237);
}

.THIS .dashboard_icon {
	
	fill:#54698d !important;
}

.THIS .slds-form-element__label {
	
	color: #000000;
	font-weight: bold;
	font-size: 15px;
	margin-top: .25rem;
}

.THIS .slds-col {
    
	padding:2%;
	width:50%;
}
.THIS .slds-col-left{
    padding-left:2%;
}
.THIS .CamelCaseInput {
	
	text-transform: capitalize;
}

.THIS .upperCaseInput {
    
    text-transform: uppercase;
}

.THIS .sentenceCaseInput {
	
	text-transform: initial;
}

.THIS .toggleDisplay {
	
	display: none;
}

.THIS .requiredField {
    
    color: red;
    font-weight: bold;
}

.THIS .customErrorMsg {
    
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS .form-element__help {
    
    color: rgb(194, 57, 52);
    font-weight:bold;
    font-size: .875rem;
}

.THIS .customCheckBox {
    
    display: inline-block;
    float: left;    
}

.THIS select.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}

.THIS input.has-error {
    
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
    border-color: rgb(194, 57, 52);
}
.THIS .slds-icon-standard-contact{
    background-color: #34becd;
}
.THIS .slds-icon-standard-document{
    background-color: #34becd;
}
.THIS .slds-input[disabled] {
    background-color: #f3f3f3!important;
    border-color: rgb(208, 208, 208)!important;
}
.THIS select[disabled]{
    background-color: #f3f3f3!important;
    border-color: rgb(208, 208, 208)!important;
}