.page-header{
position:relative;
padding: 1rem;
border-bottom: 1px solid rgb(221, 219, 218);
border-radius: 0.25rem;
background: rgb(243, 242, 242);
background-clip: padding-box;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
border: 1px solid rgb(221, 219, 218);
display: flex;
}

.refreshRotate {
    animation: rotate .4s;
} 

.class1{
    position: absolute;right:9rem;
}

.class2{
    position: absolute;right:25rem;
}

.filterClass1{
    position: absolute;right:15rem;
}
.filterClass2{
    position: absolute;right:32rem;
}

.comboboxClass1{
    position: absolute;right:12rem;
}