.THIS .sectionTitleNote {
    
    color: red;
}

.THIS .dashboard_icon{
    
    fill:#54698d !important;
}
.THIS .slds-required {
    text-decoration:none !important;
}

.THIS .head{
    
    fill:#FFF !important;
    background-color: #a094ed;
}

.THIS .othertypes{
    padding-left: 25px;
    
}
.THIS .head{
    background-color: #34becd !important;
}

.THIS .feeTable {
    
    border-collapse: collapse;
    width: 50%;
}

.THIS .feetableHeader {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #dddddd;
}

.THIS td, .THIS th {
    
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.THIS .slds-icon-standard-contact {
    background-color: #34becd !important;
}